<table width="100%">
    <tr item-width="100%">
      <td>

<!-- <select name="ChartType" (change)="onChange($event.target.value)">
    <option value='msColumn3D'>COLUMN 3D</option>
    <option value='mscolumn2d'>COLUMN 2D</option>
    <option value='msbar3d'>BAR 3D</option>
    <option value='msbar2d'>BAR 2D</option>

  </select> -->
</td>
    </tr>
    <tr item-width="100%">
      <td>
<fusioncharts
    width='100%'
    height='650'
    [type]='ChartType'
    dataFormat='json'
    [dataSource] = dataSource >
  </fusioncharts>
</td>
</tr>
