<!--The content below is only a placeholder and can be replaced.-->
<div id="ContentContainer">
	<div>
		<div id = "FamilyPanel">
 			<table border="1">
					<tr><th>Filters</th></tr>
				</table>
				<table border="1">
						<tr>
                        <td>
                            Zone
                            <select name="zones" [(ngModel)]="selectedValueZone" #box (ngModelChange)="onChange(box.value)">
                                <option *ngFor="let zone of zones" value= {{zone.id}} [selected]="selectedValueZone" >{{zone.name}}</option>
                            </select>
                            <button (click)="clearFilters()">Clear filters</button>
                        </td>

          </tr>
          <tr>
              <td>
                  City
                  <select name="cities"  #box (change)="onChangeCity(box.value)">
                      <option *ngFor="let city of cities | fullTextSearch:selectedValueZone :'zoneid'" [ngValue]="city" value= {{city.cityid}} [selected] = "city.cityid === cities['id']">{{city.name}}</option>
                  </select>


              </td>

</tr>
                </table>

				<table>
					<tr>
              <th><a href="" ng-click="reverse=!reverse;orderClaims('fileNumber', reverse)">Id</a></th>
						<th><a href="" ng-click="reverse=!reverse;orderClaims('fileNumber', reverse)">CityID</a></th>
						<th><a href="" ng-click="reverse=!reverse;orderClaims('claimDateReceived', reverse)">Count</a></th>
						<th><a href="" ng-click="reverse=!reverse;orderClaims('clientName', reverse)">Distance</a></th>
						</tr>
					<tr *ngFor="let famili of f">

						<td>{{ famili.id }}</td>
						<td>{{ famili.cityid }}</td>
						<td>{{ famili.familycnt }}</td>
						<td>{{ famili.distance }}</td>
					</tr>
        </table>

				<table>

					<tr>

						<td><div id="MapPanel">
              <app-gmap></app-gmap>
              </div></td>
						<td> <div id="ChartPanel">
              <!-- <app-charts></app-charts> -->
              </div></td>
					</tr>
				</table>
		</div>



	</div>
</div>
