<div id="ContentContainer">
  <tabs>
<br/>
<br/>
      <table  style="background-color: #ffffff; filter: alpha(opacity=40); opacity: 0.95;border:1px rgb(202, 202, 202) solid; ">
          <tr  padding-top:20px>
            <td>
              <span class="label label-info">Location</span>
            </td>
            <td>
              <ng4geo-autocomplete [userSettings]="userSettingsforlocation" (componentCallback)="autoCompleteCallback1($event)"></ng4geo-autocomplete>
            </td>
          </tr>
          <br/>
          <tr>
            <td>
              <span class="label label-info">Radius</span>
            </td>
            <td>
              <select name="radius" (change)="onChangeRadius($event.target.value)">
                  <option value=5>5</option>
                <option value=10>10</option>
                <option value=20>20</option>
                <option value=30>30</option>
                <option value=40>40</option>
                <option value=50>50</option>
                <option value=60>60</option>
                <option value=75>75</option>
                <option value=76>75</option>
              </select>
            </td>
          </tr>

        </table>
        <br/>
        <br/>

        <tab tabTitle="Map" style="background-color: rgb(255, 255, 255)">
      <table border="1" class="table table-bordered">
      </table>
      <table border="1" class="table table-bordered">
        <tr>
          <td width="100%">
            <div id="MapPanel" *ngIf="showMap" [(ngModel)]="locations" name="locations" ngDefaultControl>
              <app-gmap
                    [currentradius] ='currentradius'
                    [currentlatitude] ='currentlatitude'
                    [currentlongitude]='currentlongitude'
                    [locations]='locations'
              ></app-gmap>
            </div>
          </td>
        </tr>
      </table>
    </tab>
    <tab tabTitle="Chart">
      <table class="table table-bordered">
      </table>
      <table border="1" class="table table-bordered">
        <tr>
          <td width="50%">
            <div id="ListPanel" *ngIf="showChart"  [(ngModel)]="chartList" name="chartList" ngDefaultControl>
              <table class="table table-bordered table-striped">
                <tr>

                  <th>
                    <a>Distance In Miles</a>
                  </th>

                  <th>
                    <a>Satsangi</a>
                  </th>
                  <th>
                    <a>Gunbhavi</a>
                  </th>
                  <th>
                      <a>Visitor</a>
                    </th>
                    <th>
                        <a>Unknown-Category</a>
                      </th>
                      <th>
                        <a>Total Person</a>
                      </th>
                      <th>
                        <a>Zones</a>
                      </th>
                </tr>
                <tr *ngFor="let family of chartList">
                  <td>{{family.distanceInMiles}}</td>
                  <td>{{family.satsangi}}</td>
                  <td>{{family.gunbhavi}}</td>
                  <td>{{family.visitor}}</td>
                  <td>{{family.unknown}}</td>
                  <td>{{family.totalCount}}</td>
                  <td>{{family.zoneName}}</td>
                                </tr>
              </table>
            </div>
          </td>
          </tr>

          <!-- <tr><b>Zone Wise</b></tr>
          <tr>
            <td width="50%">
              <div id="ListPanel" *ngIf="showChart"  [(ngModel)]="chartList" name="chartList" ngDefaultControl>
                <table class="table table-bordered table-striped">
                  <tr>

                    <th>
                      <a>Distance In Miles</a>
                    </th>

                    <th>
                      <a>Zone</a>
                    </th>
                    <th>
                      <a>Satsangi</a>
                    </th>
                    <th>
                      <a>Gunbhavi</a>
                    </th>
                    <th>
                        <a>Visitor</a>
                      </th>
                      <th>
                          <a>Unknown-Category</a>
                        </th>
                        <th>
                          <a>Total Person</a>
                        </th>

                  </tr>
                  <tr *ngFor="let family of chartListByZone">
                    <td>{{family.distanceInMiles}}</td>
                    <td>{{family.zoneName}}</td>
                    <td>{{family.satsangi}}</td>
                    <td>{{family.gunbhavi}}</td>
                    <td>{{family.visitor}}</td>
                    <td>{{family.unknown}}</td>
                    <td>{{family.totalCount}}</td>


                                  </tr>
                </table>
              </div>
            </td>
            </tr>
<tr><b>City Wise</b></tr>

          <tr>
            <td width="50%">
              <div id="ListPanel" *ngIf="showChart"  [(ngModel)]="chartList" name="chartList" ngDefaultControl>
                <table class="table table-bordered table-striped">
                  <tr>

                    <th>
                      <a>Distance In Miles</a>
                    </th>

                    <th>
                      <a>City</a>
                    </th>
                    <th>
                      <a>Satsangi</a>
                    </th>
                    <th>
                      <a>Gunbhavi</a>
                    </th>
                    <th>
                        <a>Visitor</a>
                      </th>
                      <th>
                          <a>Unknown-Category</a>
                        </th>
                        <th>
                          <a>Total Person</a>
                        </th>

                  </tr>
                  <tr *ngFor="let family of chartListByCity">
                    <td>{{family.distanceInMiles}}</td>

                    <td>{{family.city}}</td>

                    <td>{{family.satsangi}}</td>
                    <td>{{family.gunbhavi}}</td>
                    <td>{{family.visitor}}</td>
                    <td>{{family.unknown}}</td>
                    <td>{{family.totalCount}}</td>
                                  </tr>
                </table>
              </div>
            </td>
            </tr>

          <!-- <td width="50%">
          <div id="ChartPanel" *ngIf="showChart" [(ngModel)]="chartList" name="chartList" ngDefaultControl>
            <table width="100%">
              <tr>
                <td width="100%">
                    <app-charts
                   [chartList] ='chartList'
                    ></app-charts>
                </td>
              </tr>
            </table>
          </div>
          </td> -->
      </table>
    </tab>
  </tabs>
 -->
</div>
